.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  &-left {
    background-color: #5b7cfd;
    height: 100%;
    width: 303px;
  }
  &-content {
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    background-color: white;
    animation-delay: 0.85s;
    animation: scaleUpCenter 0.15s linear both;
    width: calc(100% - 253px);
    border-top-left-radius: 40px;
  }
  &-table {
    background: #ffffff;
    box-shadow: 0px 5px 10px rgba(187, 187, 187, 0.15);
    border-radius: 8px;
    margin-top: 1rem;
    padding: 1.5rem;
  }
}
.logo-dashboard {
  padding: 1rem 2rem;
  height: 80px;
}
.list-group-nav-left {
  .list-group-item {
    padding: 1rem 2rem;
    background-color: transparent;
    border: 0;
    color: white;
    text-decoration: none;
    transition: transform 0.25s ease;
    transform: translateX(0);
    .dropdown-toggle {
      text-decoration: none;
    }
    i {
      width: 12px;
      margin-right: 1rem;
    }
    &.active {
      background-color: #5370e0;
    }
    [toggler] {
      ul li.active .nav-link {
        background-color: $primary !important;
        color: $white !important;
        font-weight: $font-weight-bold;
      }
    }
    // &:hover {
    //     transform: translateX(4px);
    // }
  }
}
